.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
  border-radius: 0.5rem;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__inner {
  position: relative;
  height: var(--slide-height);
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Responsive styles */
@media (min-width: 768px) {
  .embla {
    --slide-size: 50%;
    --slide-height: 16rem;
  }
}

@media (min-width: 1024px) {
  .embla {
    --slide-size: 25%;
    --slide-height: 14rem;
  }
}

@media (min-width: 1280px) {
  .embla {
    --slide-height: 18rem;
  }
}

/* Dots */
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: #cbd5e1;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0 0.3rem;
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.embla__dot--selected {
  background-color: #274885;
}

.embla__dot_NP {
  width: 0.8rem;
  height: 0.8rem;
}

.embla__dots_NP {
  margin-top: 1.5rem;
}