:root {
    --azul: #274885;
}

.embla {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.embla__viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  height: 100%;
}

.embla__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Clase1 embla__dots ORIGINAL */
.embla__dots {
  position: absolute;
  bottom: 30px; /* Posici칩n m치s cercana al borde inferior */
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 12px;
  
}
/* Clase1 embla__dots - NuestrosServicios */
.embla__dots_NS {
  bottom: 0px; 
  top: 260px; 
  padding: 10px;  
  gap: 9px;
}
.embla__dots_NP {
  
  top: 260px;
  bottom: 0; /* Posici칩n m치s cercana al borde inferior */
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 ;
  margin: 20px 0;
  gap: 12px;
}

/* Clase2 embla__dot Original*/
.embla__dot {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  padding: 0;
  outline: 0;
  border: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  
}
/* Clase2 embla__dot - NuestrosServicios*/
.embla__dot_NS {
  width: 7px;
  height: 7px;
}

/* Clase2 embla__dot Modificada - NuestrosProyectos*/
.embla__dot_NP {
  width: 7px;
  height: 7px;
}

.embla__dot--selected {
  background-color: #DDA223;
  transform: scale(1.3);
}

.embla__dot:hover {
  background-color: #F0C14B;
  transform: scale(1.2);
}


/*Difuminado azul a transparente*/
.blue-fade-overlay {
  position: absolute;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(to right, rgba(5, 29, 69, 0.8), transparent);
}
